._container_1etzy_1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  z-index: 999999;
  pointer-events: none;
}

._reactionLink_1etzy_11 {
  position: absolute;
  right: 10px;
  cursor: pointer;
  pointer-events: all;
}

._reactionLink_1etzy_11:hover {
  transition: transform 0.08 ease-in-out;
  transform: scale(1.04);
}
